# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.Plo
*.Po
*.[oa]
*.la
*.lai
*.lo
*.pc
*.pyc
*.so*
*.swo
*.swp
*~
.libs
/config.h.in
Doxyfile
Makefile
Makefile.in
aclocal.m4
autom4te.cache
bstring-*.tar.gz
build
config.cache
config.guess
config.h
config.log
config.status
config.sub
configure
cscope.files
cscope.out
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/lt*.m4
missing
stamp-h1
tags
test-driver
tests/bstest
tests/bstest.log
tests/bstest.trs
tests/cpptest
tests/cpptest.log
tests/cpptest.trs
tests/test
tests/test-suite.log
tests/test.log
tests/test.trs
tests/testaux
tests/testaux.log
tests/testaux.trs
