name: Unit Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened

jobs:
  test-ubuntu:
    name: Test and Coverage Reports
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --assume-yes --no-install-recommends \
            check \
            gcovr \
            meson \
            ninja-build
      - name: Configure
        run: |
          meson setup build \
            -Db_coverage=true \
            -Denable-tests=true
      - name: Build
        run: meson compile -C build
      - name: Run unit tests
        run: meson test -C build
      - name: Run code coverage
        run: ninja coverage -C build
      - name: Publish test report
        uses: mikepenz/action-junit-report@74626db7353a25a20a72816467ebf035f674c5f8 # v6.2.0
        if: success() || failure()
        with:
          report_paths: build/meson-logs/testlog.junit.xml
          include_passed: true
      - name: Report code coverage
        uses: threeal/gcovr-action@64cb417ed6f143cafe1c69611922672002f460bb # v1.2.0
        with:
          excludes: 'tests/.*'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          xml-out: build/meson-logs/coverage.xml
      - uses: 5monkeys/cobertura-action@ee5787cc56634acddedc51f21c7947985531e6eb # v14
        with:
          path: build/meson-logs/coverage.xml
          fail_below_threshold: true
          minimum_coverage: 50
          show_line: true
          show_branch: true
